/*
Main HTML tag CSS
*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    background-color: #ffffff;
  }
  body main {
    margin-top: 100px;
  }
a {
  text-decoration: none;
  color: #67b0d1;
}
a:hover {
  color: #8ec4dd;
  text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}